<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'timetable/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="table-responsive"><table>
    <tbody>
		<tr>
			<td>Преподаватель</td>
			<td>Дисциплина</td>
			<td>Вид занятия</td>
			<td>Группа</td>
			<td>Часы</td>
		</tr>
{% for item in att_total %}
		<tr>
			<td>{{ item.assign.teacher }}</td>
            <td>{{ item.assign.discipline }}</td>
            <td>{{ item.assign.assign_view }}</td>
            <td>{{ item.assign.group }}</td>
            <td>{{ item.total_hours }}</td>
		</tr>
{% endfor %}
	</tbody>
</body>
</html>