<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<table>
  <tr>
      <td>Teacher/Discipline/Group</td>
      <td>Date</td>
      <td>Time/Day</td>

  <tr>
    {% for a in att_list %}
      <td>{{a.assign}}</td>
      <td>{{a.date}}</td>
    {% for b in assign %}
      <td>{{b.time}}</td>
      <td>{{b.day}}</td>
    {% endfor %}
  </tr>
    {% endfor %}

</table>
<a href="{% url 'export_users_xls' %}">Export all users</a>
</body>
</html>